---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>


<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>
    <script type="text/javascript">
        var title = location.pathname.substr(0, 50);//截取路径的前50个字符作为标识符
        var gitalk = new Gitalk({
            clientID: 'Iv23liQ9oiRPBvWLf5YK',
            clientSecret: '0a323cc1e6c0cd6166932a1587c5e17caedfb47c',
            repo: 'bloggtalk',
            owner: 'tangolivesky',
            admin: ['tangolivesky'],
            id: title
        });
        gitalk.render('gitalk-container');
    </script>
